<?xml version="1.0"?>
<launch>
  <!-- start params_update -->
  <node pkg="start" type="params_update" name="params_update" output="screen"/>
  <!-- start simulation -->
  <include file="$(find simulation)/launch/simulation.launch" />
  <!-- start server -->
  <include file="$(find start)/launch/start_debug_server.launch" />
  <!-- start image_process -->
  <node pkg="vision" type="sim_vision" name="vision" output="screen"/>
  <!-- start motion -->
  <node pkg="motion" type="motion" name="motion" output="screen"/>
</launch>